.popup__close-button {
  width: 32px;
  padding: 0;
  border-style: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0);
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    right: 0;
    top: -37px;
  }
}
