@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/page.css);
@import url(./blocks/body/body.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__block-avatar/profile__block-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__images/elements__image.css);
@import url(./blocks/elements/__content/elements__content.css);
@import url(./blocks/elements/__like-content/elements__like-content.css);
@import url(./blocks/elements/__like-number/elements__like-number.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__group/elements__group.css);
@import url(./blocks/elements/__group/_active/elements__group_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_display-none/popup__close-button_display-none.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_delete-photo/popup__title_delete-photo.css);
@import url(./blocks/popup/__title/_avatar/popup__title_avatar.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_add/popup__item_add.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__form_type_avatar.css);
@import url(./blocks/popup/__form/_type/popup__form_type_delete-photo.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(./blocks/popup/__save-button/_delete-photo/popup__save-button_delete-photo.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button-image/popup__button-image.css);
@import url(./blocks/popup/_type/popup_type_add-photo.css);
@import url(./blocks/popup/_type/popup_type_loock-photo.css);
@import url(./blocks/popup/__delete-button/popup__delete-button.css);
@import url(./blocks/popup/__delete-button/_hidden/popup__delete-button_hidden.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);
@import url(./blocks/popup/__image/popup__image-loock-photo.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/popup/__message/_active/popup__message_active.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__item/_error/popup__item_error.css);
